{% extends 'base.html.twig' %}

{% block title %}Hello TweitterController!
{% endblock %}

{% block body %}
	<div class="container-fluid mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{{ titleController}}</h2>
				</div>
				<div class="col-12">
					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">creat at</th>
								<th scope="col">message</th>
								<th scope="col">destinataire</th>
								<th scope="col">expediteur</th>

								
								<th scope="col">
									action</th>
							</tr>
						</thead>
						<tbody>
							{% for tweet in tweets.events %}
								<tr>
									<th
										scope="row">{{ tweet.created_timestamp |slice (0,10)|format_datetime( locale='fr')}}
																			</th>
									<td>
										{{ tweet.message_create.message_data.text}}
									</td>
									<td>
										{% if tweet.message_create.target.recipient_id == myAccount.id %}
											<span>MOI<span>
										{% else %}
											{{ render(controller('App\\Controller\\TwitterController:showUsers', { 'id':tweet.message_create.target.recipient_id } ))  }}
										{% endif %}


										{# {{ tweet.message_create.target.recipient_id}} #}
									</td>
									<td>
										{% if tweet.message_create.sender_id  == myAccount.id %}
											<span>MOI<span>
										{% else %}
											{{ render(controller('App\\Controller\\TwitterController:showUsers', { 'id':tweet.message_create.sender_id } ))  }}
										{% endif %}


										{# {{ tweet.message_create.sender_id }} #}
									</td>

								
									<td>
										detail - edit -
										{# <a href=" {{ path('twitterOne',{idTweet:tweet.id} ) }} ">voir</a> #}
									</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
					<pre>
      {{ dump(tweets.events) }}
    </pre>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
