{% extends 'base.html.twig' %}

{% block title %}Hello TweitterController!{% endblock %}

{% block body %}
<div class="container-fluid mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>{{ titleController}}</h2>
				</div>
				<div class="col-12">
					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">creat at</th>
								<th scope="col">message</th>
								<th scope="col">destinataire</th>
								<th scope="col">expediteur</th>

								<th scope="col"><i class="bi bi-heart-fill"></i></th>
								<th scope="col"><i class="bi bi-arrow-repeat"></i></th>
								<th scope="col">
									action</th>
							</tr>
						</thead>
						<tbody>
							{% for tweet in tweets.events %}
								<tr>
									<th scope="row">
                                    {# {{ tweet.created_timestamp |date("r Z") }} #}
                                    </th>
									<td>
										{{ tweet.message_create.message_data.text}}
									</td>
									<td>
										
									</td>
									<td>
						                {{ tweet.message_create.sender_id}}
									</td>

                                    <td></td>
                                    <td></td>
									<td>
										detail - edit -
										{# <a href=" {{ path('twitterOne',{idTweet:tweet.id} ) }} ">voir</a> #}
									</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
					<pre>
      {{ dump(tweets.events) }}
    </pre>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
