{% extends 'base.html.twig' %}

{% block title %}Hello TweitterController!
{% endblock %}

{% block body %}

	<section class="container my-4">
		<div class="row">
			<div class="col-12">
				<h2>
					Détail du tweet id
					{{ tweet.id }}
				</h2>
			</div>
		</div>
	</section>

	<div class="container px-4">
		<div class="row gx-3">
			<div class="col">
				<div class="p-3  bg-dark">{{tweet.favorite_count}}
					like(s)</div>

				<div class="p-3  bg-dark">{{tweet.retweet_count}}
					retwweet</div>

				<div class="p-3  bg-dark">? commentaire</div>

			</div>
			<div class="col">
				<div class="p-3  bg-dark">
					<p class="title-view">Auteur</p>
					<p>
						{{ tweet.user.name }}</p>
					<p>
						<a href="" class="btn btn-primary">
							Envoyer DM</a>
					</p>
				</div>
			</div>
			<div class="col">
				<div class="p-3  bg-dark">
					<p class="title-view">Date creation</p>
					<p>
						{{ tweet.created_at|date('D d m Y H:m:s') }}
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container px-4 mt-2">
		<div class="row gx-3">

			<div class="col">
				<div class="p-3  bg-dark ">
					<p class="title-view">Tweet</p>
					<p>{{ tweet.full_text |nl2br  }}</p>
				</div>
			</div>
			<div class="col">
				<div class="p-3  bg-dark">
					<p class="title-view">Média</p>
	

					{% if tweet.entities.media  is defined %}
						{% for media in tweet.extended_entities.media %}
					<p>
						type :
							{{media.type}}
							<img class="img-fluid" src=" {{ media.media_url_https}}">
					</p>
						{% endfor %}
						<br>
						{# <a href="#">Voir plus</a> #}
					{% endif %}
				</div>
			</div>
				<div class="col">
					<div class="p-3  bg-dark">
						<p class="title-view">
							Listes des hashtags</p>
						<ul>
							{% for hashtag in tweet.entities.hashtags %}
								<li>
									{{ hashtag.text}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
		</div>


		{# <div class="container px-4 mt-2">
			<div class="row gx-5">
				<div class="col">
					<div class="p-3  bg-dark">
						<p class="title-view">
							Listes des hashtags</p>
						<ul>
							{% for hashtag in tweet.entities.hashtags %}
								<li>
									{{ hashtag.text}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div class="col">
					<div class="p-3  bg-dark">? commentaire</div>
				</div>
				<div class="col">
					<div class="p-3  bg-dark">Auteur</div>
				</div>
			</div>
		</div> #}
		<pre>
  {{ dump(tweet) }}
</pre>
	{% endblock %}
