{% extends 'base.html.twig' %}

{% block title %}Mastodon Timeline!
{% endblock %}

{% block body %}


	<div class="container-fluid mt-5">
		<div class="container">
			<div class="row mb-3">
				<div class="col-3">
					<h2>{{ titleController}}</h2>
				</div>
				<div class="col-9 justify-content-end ">
				
						<a href="{{ path('mamot-timeline' , {home:true}) }} " class="btn btn-primary">Home</a>
						<a href="{{ path('mamot-timeline' , {local:true}) }} " class="btn btn-primary">Local</a>
						<a href="{{ path('mamot-timeline' , {local:false}) }} " class="btn btn-primary">General</a>
				
				</div>
			</div>
			<div class="col-12">
				<table class="table table-dark table-striped">
					<thead>
						<tr>
							<th scope="col">creat at</th>
							<th scope="col">tags</th>
							<th scope="col">Auteur</th>

							<th scope="col">message</th>
							<th scope="col">
								<i class="bi bi-heart-fill"></i>
							</th>
							<th scope="col">
								<i class="bi bi-arrow-repeat"></i>
							</th>
							<th scope="col">
								action</th>
						</tr>
					</thead>
					<tbody>
						{% for pouet in pouets %}
							<tr>
								<th scope="row">{{ pouet.created_at |date('d-m-Y H:m:s')   }}</th>

								<td>
									<p>
										{% if not pouet.in_reply_to_id %}

											{% else %}
												Reply-to
										{% endif %}
									</p>
									<p>
										{% if pouet.visibility == 'direct' %}
											DM
										{% endif %}
									</p>
								</td>
								<td>
									{{ pouet.account.username   }}<br>
									{{pouet.account.acct }}
								</td>
								<td></td>
								<td>
									{{ pouet.content |raw}}
								</td>
								<td>
									{{ pouet.favourites_count }}
								</td>
								<td>
									{{ pouet.reblogs_count}}
								</td>
								<td>
									<a href="{{ path('mamot-pouet-id',{id:pouet.id} ) }}">voir
									</a>
									{% if myAccount.id == pouet.account.id %}
										<a href="{{ path('mamot-del-pouet-id',{id:pouet.id} ) }}">supprimer
										</a>
									{% endif %}
								</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
				<pre>
      {{ dump(pouets) }}
    </pre>
			</div>
		</div>
	</div>

</div>{% endblock %}
