{% extends 'base.html.twig' %}

{% block title %}
	Bot content
{% endblock %}

{% block body %}
	<section class="container my-5">
		{{ form_start(form ) }}
		<div class="row d-flex">
			<div class="col-12 col-md-10">
				{{  form_errors(form.texte)}}
				{# {{ form_label(form.texte, 'tete') }} #}
				{{ form_widget(form.texte) }}
			</div>
			<div class="col-12 col-md-2">
			
				{{ form_widget(form.Valider,  { 'label': 'Ajouter' }) }}
			</div>
		</div>
		{{ form_end(form) }}
	</section>
	<div class="container-fluid mt-5">
		<div class="container">
			<div class="row">

				<div class="col-12">
					<table class="table table-dark table-striped">
						<thead>
							<tr>
								<th scope="col">id</th>
								<th scope="col">texte</th>

								<th scope="col">actions</th>
							</tr>
						</thead>
						<tbody>
							{% for content in contents %}
								<tr>
									<th scope="row">{{ content.id   }}</th>
									<td>
										{{ content.texte}}
									</td>
									<td>
										<a href="#" class="Edit" data-id="{{content.id }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
											<i class="bi bi-pencil-square"></i>
										</a>
										<a href="{{ path('bot_delete',{id:content.id,token: csrf_token('delete_bot_content') }) }} " onclick="return confirm('Voulez vous vraiment supprimer ?')">
										<i class="bi bi-trash-fill text-danger"></i>
										</a>
									</td>

								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	{# modal #}
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content bg-gray-02">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edition d'un contenu</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="editform"></div>
					
				</div>
				
			</div>
		</div>
	</div>
		{% block javascripts %}
		<script src="{{ asset('/js/botcontent.min.js') }}"> </script>
		{% endblock %} 
{% endblock %}
	